#root {
  margin: 0 auto;
  padding: 2rem;
  min-height: 100vh;
}

.section {
  padding-inline: 10px;
}

.section:focus {
  outline: none;
  background-color: #f7f7f7;
  border-radius: 4px;
}

/* Hide prefix and suffix when container not focused */

.section .token-prefix,
.section .token-suffix {
  visibility: hidden;
  display: inline-block;
  font-size: 0;
  white-space: pre;
}

.section:focus .token-prefix,
.section:focus .token-suffix {
  visibility: visible;
  font-size: inherit;
}

/* Hacky fix to target the line separator only
 * FIXME: This does not solve the actual root cause
 *        which is weird cursor position when adding
 *        a line break at the beginning/end of a token
 */
.section .token-newline::first-letter {
  font-size: 0;
}

.section .token-invisible {
  visibility: hidden;
  font-size: 0;
}
